.Developer {
  color: black;
}

.Custome-Handle {
  padding: 10px 30px;
  border: 3px solid #000000;
  border-radius: 3px;
  background-color: #83e1d3ff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.Custome-Handle:hover {
  cursor: pointer;
  background-color: #70bcb1;
  /* transform: scale(1.05); */
}

.Custom-Handle-Sub {
  padding: 10px 30px;
  border: 3px solid #000000;
  border-radius: 3px;
  background-color: #b6eee6ff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.Custom-Handle-Sub:hover {
  cursor: pointer;
  background-color: #70bcb1;
}
